@import '../../styles/colors.scss';

.inputWrapper{
    max-width: 450px;
    padding: 0 12px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    color: $darkBlue;
}

.inputField{
    padding: 16px 18px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    color: $darkBlue;
    border-radius: 8px;
    border: 1px solid $purpleBorderColor;
    transition: box-shadow .25s ease;

    &:focus{
        border: 1px solid $purpleColor;
        box-shadow: 0 0 0 2px $purpleColor; 
        outline: none;
    }

    &.errorInput{
        border: 1px solid $errorBorderColor;
        box-shadow: 0 0 0 2px $errorBorderColor; 
        background-color: $errorBackgroundColor;
        outline: none;
    }
}

.inputLabel{
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
}

.errorCtn{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.errorMessage{
    font-size: 14px;
    font-weight: 400;
    color: $darkBlue;
    max-width: 200px;
    width: 100%;
}