$darkBlue: #000853;
$purpleBorderColor: #CBB6E5;
$purpleColor: #761BE4;
$purpleColorHover: #6A19CD;
$errorBorderColor: #ED4545;
$errorBackgroundColor: #FEECEC;
$whiteColor: #FFFFFF;
$grayColor: #898DA9;
$bgColor: #F0EAF8;