@import '../src/styles/colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.App *, .App *::after, .App *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: $bgColor;
}