@import '../../styles/colors.scss';

.errorCtn{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.errorMessage{
    font-size: 14px;
    font-weight: 400;
    color: $darkBlue;
    max-width: 200px;
    width: 100%;
}